<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-3.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/jee 
						http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<context:annotation-config />

	<context:property-placeholder location="classpath:/context/application.properties" />
	
	<bean id="repository" class="com.apimock.core.impl.HashMockRepository"/>
	
	<bean id="mockManager" class="com.apimock.manager.MockRepositoryManagerImpl">
		<constructor-arg ref="repository"/>
	</bean>
	
	<bean id="mockConsumer" class="com.apimock.consumer.MockRepositoryConsumerImpl">
		<constructor-arg ref="repository"/>
	</bean>

	<bean id="gsonBuilder" class="com.google.gson.GsonBuilder"/>
	
	<bean id="jsonInputStreamDeserializer" class="com.apimock.consumer.adapter.impl.JsonInputStreamDeserializer"/>
	
	<bean id="jsonCustomMatcherDeserializer" class="com.apimock.manager.adapter.impl.JsonCustomMatcherDeserializer"/>
	
	<bean id="inputStreamClass" class="java.lang.Class" factory-method="forName"> 
		<constructor-arg value="java.io.InputStream"/> 
	</bean>
	
	<bean id="customMatcherClass" class="java.lang.Class" factory-method="forName"> 
		<constructor-arg value="com.apimock.manager.CustomServiceFilter"/> 
	</bean> 
	
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="gsonBuilder" />
		<property name="targetMethod" value="registerTypeAdapter" />
		<property name="arguments">
		    <list>
		        <ref bean="inputStreamClass"/>
		        <ref bean="jsonInputStreamDeserializer"/>
		    </list>
		</property>
	</bean>
	
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="gsonBuilder" />
		<property name="targetMethod" value="registerTypeAdapter" />
		<property name="arguments">
		    <list>
		        <ref bean="customMatcherClass"/>
		        <ref bean="jsonCustomMatcherDeserializer"/>
		    </list>
		</property>
	</bean>
	
	<bean id="gson" class="com.apimock.utils.GsonFactoryBean">
		<constructor-arg type="com.google.gson.GsonBuilder" ref="gsonBuilder" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="jsonCustomMatcherDeserializer" />
		<property name="targetMethod" value="setGson" />
		<property name="arguments">
		    <list>
		        <ref bean="gson"/>
		    </list>
		</property>
	</bean>

	<bean id="mockManagerAdapter" class="com.apimock.manager.adapter.impl.MockManagerAdapterStubImpl">
		<constructor-arg type="com.google.gson.Gson" ref="gson"/>
	</bean>

	<bean id="mockHttpResponseAdapter" class="com.apimock.consumer.adapter.impl.MockHttpResponseAdapterImpl"/>

	<bean id="serviceParametersAdapter" class="com.apimock.consumer.adapter.impl.ServiceParametersAdapterImpl"/>

</beans>