<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-3.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/jee 
						http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<context:annotation-config />

	<context:property-placeholder location="classpath:/context/application.properties" />
	
	<bean id="repository" class="com.apimock.core.impl.HashMockRepository"/>
	
	<bean id="mockManager" class="com.apimock.manager.MockRepositoryManagerImpl">
		<constructor-arg ref="repository"/>
	</bean>
	
	<bean id="mockConsumer" class="com.apimock.consumer.MockRepositoryConsumerImpl">
		<constructor-arg ref="repository"/>
	</bean>

	<bean id="gsonBuilder" class="com.google.gson.GsonBuilder"/>
    
    <bean id="inputStreamDeserializer" class="com.apimock.utils.json.DataTypeJsonDeserializer">
		<constructor-arg type="java.lang.Class" value="java.io.InputStream"/>
		<constructor-arg type="java.util.Map">
			<util:map>
				<entry key="plain">
					<bean class="com.apimock.consumer.adapter.impl.StringJsonDeserializer"/>
				</entry>
				<entry key="base64">
					<bean class="com.apimock.consumer.adapter.impl.Base64JsonDeserializer"/>
				</entry>
			</util:map>
		</constructor-arg>
	</bean>
		
	<bean id="filterDeserializer" class="com.apimock.utils.json.DataTypeJsonDeserializer">
		<constructor-arg type="java.lang.Class" value="com.apimock.manager.CustomServiceFilter"/>
		<constructor-arg type="java.util.Map">
			<util:map>
				<entry key="request">
					<bean class="com.apimock.manager.adapter.impl.RequestJsonDeserializer"/>
				</entry>
				<entry key="spring">
					<bean class="com.apimock.utils.json.SpringJsonDeserializer">
						<constructor-arg type="java.lang.Class" value="com.apimock.manager.CustomServiceFilter" />
					</bean>
				</entry>
				<entry key="composite">
					<bean class="com.apimock.utils.json.ImplementationJsonDeserializer">
						<constructor-arg index="0" value="com.apimock.manager.CustomServiceFilter"/>
						<constructor-arg index="1" value="com.apimock.manager.filter.CompositeServiceFilter"/>
					</bean>
				</entry>
			</util:map>
		</constructor-arg>
	</bean>
	
	
	<bean id="gson" class="com.apimock.utils.json.GsonFactoryBean">
		<constructor-arg type="com.google.gson.GsonBuilder" ref="gsonBuilder" />
		<constructor-arg type="java.util.List">
			<util:list>
		        <ref bean="inputStreamDeserializer"/>
		        <ref bean="filterDeserializer"/>
		    </util:list>
		</constructor-arg>
	</bean>

	<bean id="mockManagerAdapter" class="com.apimock.manager.adapter.impl.MockManagerAdapterStubImpl">
		<constructor-arg type="com.google.gson.Gson" ref="gson"/>
	</bean>

	<bean id="mockHttpResponseAdapter" class="com.apimock.consumer.adapter.impl.MockHttpResponseAdapterImpl"/>

	<bean id="serviceParametersAdapter" class="com.apimock.consumer.adapter.impl.ServiceParametersAdapterImpl"/>

</beans>